<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

--- 
# Part 1

Part 1 requires knowledge of basic Python.

---

## Problem Statement

Decide on your problem statement that will guide your analysis for this project. For guidelines, sample prompts, or inspiration, check out the README.

**To-Do:** *Replace this cell with your problem statement.*

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university.

The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)). They have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

Standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from sudents' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### Choose your Data

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State
* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School
* [`sat_2017.csv`](./data/sat_2017.csv): 2017 SAT Scores by State
* [`sat_2018.csv`](./data/sat_2018.csv): 2018 SAT Scores by State
* [`sat_2019.csv`](./data/sat_2019.csv): 2019 SAT Scores by State
* [`sat_2019_by_intended_college_major.csv`](./data/sat_2019_by_intended_college_major.csv): 2019 SAT Scores by Intended College Major
* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

### Outside Research

Based on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [59]:
# Code:

def mean_machine(numbers):
    return sum(numbers) / len(numbers)

In [60]:
numbers = [1, 2, 3, 4 , 5]

In [61]:
mean_machine(numbers)

3.0

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [62]:
# Code:

# calculate the mean of the dataset (already did this with mean_machine(numbers))
# subtract the mean from each value in the list and square it for squared differences
# add all the squared difference values together
# divide the sum total by the number of values for variance
# take the square root of everything for standard deviation

def standard_deviation(numbers):
    mean = mean_machine(numbers)
    sdev = (sum((x - mean)**2 for x in numbers) / len(numbers))**0.5
    return sdev

# CAUTION!!! you have to specify for x in numbers or the function has no idea what to do with the x you've introduced
# NameError: name 'x' is not defined

In [63]:
standard_deviation(numbers)

1.4142135623730951

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [64]:
# Code:

# replace the % symbol with empty string so it's just a flat number
# convert the string to a float (decimal number)
# you have to divide that by 100 or you get 50.0 not 0.5

# import pandas as pd

# def clean_data(data):
#    data = data.replace('%', '')
#    string_objects = pd.Series(data)
#    float_data = string_objects.astype(float) / 100
#    return float_data

def clean_data(data):
    data = data.replace('%', '')
    float_data = float(data) / 100
    return float_data

In [65]:
clean_data('50%')

0.5

In [66]:
clean_data('30.5%')

0.305

---

# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [67]:
# Imports:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [68]:
import os
os.getcwd()

# '/Users/argishtiovsepyan/DSI-508/Projects/project-1/data' for data location

'/Users/argishtiovsepyan/DSI-508/Projects/project-1/code'

In [69]:
# Code:

act_2017 = '/Users/argishtiovsepyan/DSI-508/Projects/project-1/data/act_2017.csv'
act_2018 = '/Users/argishtiovsepyan/DSI-508/Projects/project-1/data/act_2018.csv'
act_2019 = '/Users/argishtiovsepyan/DSI-508/Projects/project-1/data/act_2019.csv'

In [70]:
df_act_2017 = pd.read_csv(act_2017)
df_act_2018 = pd.read_csv(act_2018)
df_act_2019 = pd.read_csv(act_2019)

In [71]:
df_act_2017.head(3), df_act_2018.head(3), df_act_2019.head(3)

(      State Participation  English  Math  Reading  Science Composite
 0  National           60%     20.3  20.7     21.4     21.0      21.0
 1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
 2    Alaska           65%     18.7  19.8     20.4     19.9      19.8,
      State Participation  Composite
 0  Alabama          100%       19.1
 1   Alaska           33%       20.8
 2  Arizona           66%       19.2,
      State Participation  Composite
 0  Alabama          100%       18.9
 1   Alaska           38%       20.1
 2  Arizona           73%       19.0)

In [72]:
act_2017 = df_act_2017.drop(['English', 'Math', 'Reading', 'Science'], axis = 1, inplace = True)

In [73]:
# FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

df_act_2017 = pd.concat([df_act_2017.iloc[1:], df_act_2017.iloc[:1]]).reset_index(drop = True)

In [74]:
df_act_2017.head(1), df_act_2018.head(1), df_act_2019.head(1)

(     State Participation Composite
 0  Alabama          100%      19.2,
      State Participation  Composite
 0  Alabama          100%       19.1,
      State Participation  Composite
 0  Alabama          100%       18.9)

In [75]:
df_act_2017.tail(3), df_act_2018.tail(3), df_act_2019.tail(3)

(        State Participation Composite
 49  Wisconsin          100%      20.5
 50    Wyoming          100%     20.2x
 51   National           60%      21.0,
             State Participation  Composite
 49  West Virginia           65%       20.3
 50      Wisconsin          100%       20.5
 51        Wyoming          100%       20.0,
         State Participation  Composite
 49  Wisconsin          100%       20.3
 50    Wyoming          100%       19.8
 51   National           52%       20.7)

In [76]:
df_act_2017.dtypes, df_act_2018.dtypes, df_act_2019.dtypes

(State            object
 Participation    object
 Composite        object
 dtype: object,
 State             object
 Participation     object
 Composite        float64
 dtype: object,
 State             object
 Participation     object
 Composite        float64
 dtype: object)

In [77]:
# df_act_2017['Composite'] = df_act_2017['Composite'].astype(float)
# ValueError: could not convert string to float: '20.2x'
# Coercing it made Wyoming 20.2x = NaN...

df_act_2017['Composite'] = pd.to_numeric(df_act_2017['Composite'], errors = 'coerce')
df_act_2017.dtypes

State             object
Participation     object
Composite        float64
dtype: object

In [78]:
df_act_2017.loc[50, 'Composite'] = 20.2
df_act_2017.tail(3)

        State Participation  Composite
49  Wisconsin          100%       20.5
50    Wyoming          100%       20.2
51   National           60%       21.0

In [79]:
# duplicated().sum() shows 1 as true and 0 as false, you can see how many

df_act_2017.duplicated().sum(), df_act_2018.duplicated().sum(), df_act_2019.duplicated().sum()

(0, 1, 0)

In [80]:
df_act_2018 = df_act_2018.drop_duplicates().reset_index(drop = True)

In [81]:
df_act_2017.duplicated().sum(), df_act_2018.duplicated().sum(), df_act_2019.duplicated().sum()

(0, 0, 0)

In [82]:
df_act = pd.concat([df_act_2017, df_act_2018, df_act_2019], axis = 1)
df_act.head(1)

,State,Participation,Composite,State,Participation,Composite,State,Participation,Composite
0,Alabama,100%,19.2,Alabama,100%,19.1,Alabama,100%,18.9

In [83]:
# df_act.rename(columns = {'State': 'state', 'Participation': 'participation', 'Composite': 'composite'}) doesn't work with same name columns

df_act.columns.values[0:9] = 'state', '2017_participation', '2017_composite', 'extra 1', '2018_participation', '2018_composite', 'extra 2', '2019_participation', '2019_composite'
df_act.drop(columns = ['extra 1', 'extra 2'], inplace = True)

df_act.head(1)

,state,2017_participation,2017_composite,2018_participation,2018_composite,2019_participation,2019_composite
0,Alabama,100%,19.2,100%,19.1,100%,18.9

In [84]:
df_act.dtypes

state                  object
2017_participation     object
2017_composite        float64
2018_participation     object
2018_composite        float64
2019_participation     object
2019_composite        float64
dtype: object

In [85]:
df_act.loc[51, '2018_participation'] = '0%'

In [86]:
df_act['2017_participation'] = df_act['2017_participation'].apply(clean_data)
df_act['2018_participation'] = df_act['2018_participation'].apply(clean_data)
df_act['2019_participation'] = df_act['2019_participation'].apply(clean_data)

In [87]:
mean_machine(df_act['2018_participation'][0:50])

0.6095999999999999

In [88]:
df_act.loc[51, '2018_participation'] = 0.61

In [89]:
mean_machine(df_act['2018_composite'][0:50])

21.526

In [90]:
df_act.loc[51, '2018_composite'] = 21.53
df_act.tail(3)

,state,2017_participation,2017_composite,2018_participation,2018_composite,2019_participation,2019_composite
49,Wisconsin,1.0,20.5,1.00,20.50,1.00,20.3
50,Wyoming,1.0,20.2,1.00,20.00,1.00,19.8
51,National,0.6,21.0,0.61,21.53,0.52,20.7

In [91]:
df_act.to_csv('2017_18_19_act.csv', index = False)

In [92]:
df_act

,state,2017_participation,2017_composite,2018_participation,2018_composite,2019_participation,2019_composite
0,Alabama,1.00,19.2,1.00,19.10,1.00,18.9
1,Alaska,0.65,19.8,0.33,20.80,0.38,20.1
2,Arizona,0.62,19.7,0.66,19.20,0.73,19.0
3,Arkansas,1.00,19.4,1.00,19.40,1.00,19.3
4,California,0.31,22.8,0.27,22.70,0.23,22.6
5,Colorado,1.00,20.8,0.30,23.90,0.27,23.8
6,Connecticut,0.31,25.2,0.26,25.60,0.22,25.5
7,Delaware,0.18,24.1,0.17,23.80,0.13,24.1
8,District of Columbia,0.32,24.2,0.32,23.60,0.32,23.5
9,Florida,0.73,19.8,0.66,19.90,0.54,20.1
10,Georgia,0.55,21.4,0.53,21.40,0.49,21.4
11,Hawaii,0.90,19.0,0.89,18.90,0.80,19.0
12,Idaho,0.38,22.3,0.36,22.30,0.31,22.5
13,Illinois,0.93,21.4,0.43,23.90,0.35,24.3
14,Indiana,0.35,22.6,0.32,22.50,0.29,22.5
15,Iowa,0.67,21.9,0.68,21.80,0.66,21.6
16,Kansas,0.73,21.7,0.71,21.60,0.72,21.2
17,Kentucky,1.00,20.0,1.00,20.20,1.00,19.8
18,Louisiana,1.00,19.5,1.00,19.20,1.00,18.8
19,Maine,0.08,24.3,0.07,24.00,0.06,24.3
20,Maryland,0.28,23.6,0.31,22.50,0.28,22.3
21,Massachusetts,0.29,25.4,0.25,25.50,0.21,25.5
22,Michigan,0.29,24.1,0.22,24.20,0.19,24.4
23,Minnesota,1.00,21.5,0.99,21.30,0.95,21.4
24,Mississippi,1.00,18.6,1.00,18.60,1.00,18.4
25,Missouri,1.00,20.4,1.00,20.00,0.82,20.8
26,Montana,1.00,20.3,1.00,20.00,1.00,19.8
27,Nebraska,0.84,21.4,1.00,20.10,1.00,20.0
28,Nevada,1.00,17.8,1.00,17.70,1.00,17.9
29,New Hampshire,0.18,25.5,0.16,25.10,0.14,25.0
30,New Jersey,0.34,23.9,0.31,23.70,0.25,24.2
31,New Mexico,0.66,19.7,0.67,19.40,0.63,19.3
32,New York,0.31,24.2,0.27,24.50,0.22,24.5
33,North Carolina,1.00,19.1,1.00,19.10,1.00,19.0
34,North Dakota,0.98,20.3,0.98,20.30,0.96,19.9
35,Ohio,0.75,22.0,1.00,20.30,1.00,20.0
36,Oklahoma,1.00,19.4,1.00,19.30,1.00,18.9
37,Oregon,0.40,21.8,0.42,21.30,0.42,21.1
38,Pennsylvania,0.23,23.7,0.20,23.50,0.17,23.6
39,Rhode Island,0.21,24.0,0.15,24.20,0.12,24.7
40,South Carolina,1.00,18.7,1.00,18.30,0.78,18.8
41,South Dakota,0.80,21.8,0.77,21.90,0.75,21.6
42,Tennessee,1.00,19.8,1.00,19.60,1.00,19.4
43,Texas,0.45,20.7,0.45,20.70,0.39,20.5
44,Utah,1.00,20.3,1.00,20.40,1.00,20.3
45,Vermont,0.29,23.6,0.24,24.10,0.20,24.1
46,Virginia,0.29,23.8,0.24,23.90,0.21,24.0
47,Washington,0.29,21.9,0.24,22.20,0.24,22.1
48,West Virginia,0.69,20.4,0.65,20.30,0.49,20.8
49,Wisconsin,1.00,20.5,1.00,20.50,1.00,20.3
50,Wyoming,1.00,20.2,1.00,20.00,1.00,19.8
51,National,0.60,21.0,0.61,21.53,0.52,20.7

In [93]:
sat_2017 = '/Users/argishtiovsepyan/DSI-508/Projects/project-1/data/sat_2017.csv'
sat_2018 = '/Users/argishtiovsepyan/DSI-508/Projects/project-1/data/sat_2018.csv'
sat_2019 = '/Users/argishtiovsepyan/DSI-508/Projects/project-1/data/sat_2019.csv'

In [94]:
df_sat_2017 = pd.read_csv(sat_2017)
df_sat_2018 = pd.read_csv(sat_2018)
df_sat_2019 = pd.read_csv(sat_2019)

In [95]:
df_sat_2017.head(3), df_sat_2018.head(3), df_sat_2019.head(3)

(     State Participation  Evidence-Based Reading and Writing  Math  Total
 0  Alabama            5%                                 593   572   1165
 1   Alaska           38%                                 547   533   1080
 2  Arizona           30%                                 563   553   1116,
      State Participation  Evidence-Based Reading and Writing  Math  Total
 0  Alabama            6%                                 595   571   1166
 1   Alaska           43%                                 562   544   1106
 2  Arizona           29%                                 577   572   1149,
      State Participation Rate  EBRW  Math  Total
 0  Alabama                 7%   583   560   1143
 1   Alaska                41%   556   541   1097
 2  Arizona                31%   569   565   1134)

In [96]:
sat_2017 = df_sat_2017.drop(['Evidence-Based Reading and Writing', 'Math'], axis = 1, inplace = True)
sat_2018 = df_sat_2018.drop(['Evidence-Based Reading and Writing', 'Math'], axis = 1, inplace = True)
sat_2019 = df_sat_2019.drop(['EBRW', 'Math'], axis = 1, inplace = True)

In [97]:
df_sat_2017.head(1), df_sat_2018.head(1), df_sat_2019.head(1)

(     State Participation  Total
 0  Alabama            5%   1165,
      State Participation  Total
 0  Alabama            6%   1166,
      State Participation Rate  Total
 0  Alabama                 7%   1143)

In [98]:
df_sat_2017.shape, df_sat_2018.shape, df_sat_2019.shape

((51, 3), (51, 3), (53, 3))

In [99]:
df_act_2017.dtypes, df_act_2018.dtypes, df_act_2019.dtypes

(State             object
 Participation     object
 Composite        float64
 dtype: object,
 State             object
 Participation     object
 Composite        float64
 dtype: object,
 State             object
 Participation     object
 Composite        float64
 dtype: object)

In [100]:
df_sat_2017.duplicated().sum(), df_sat_2018.duplicated().sum(), df_sat_2019.duplicated().sum()

(0, 0, 0)

In [101]:
df_sat_2019.drop([39, 47],inplace = True)

In [103]:
df_sat_2019.reset_index(drop = True, inplace = True)

In [113]:
df_sat = pd.concat([df_sat_2017, df_sat_2018, df_sat_2019], axis = 1)
df_sat.tail(3)

,State,Participation,Total,State,Participation,Total,State,Participation Rate,Total
48,West Virginia,14%,1086,West Virginia,28%,999,West Virginia,99%,943
49,Wisconsin,3%,1291,Wisconsin,3%,1294,Wisconsin,3%,1283
50,Wyoming,3%,1230,Wyoming,3%,1257,Wyoming,3%,1238

In [114]:
df_sat.columns.values[0:9] = 'state', '2017_participation', '2017_composite', 'extra 1', '2018_participation', '2018_composite', 'extra 2', '2019_participation', '2019_composite'
df_sat.drop(columns = ['extra 1', 'extra 2'], inplace = True)

df_sat.head(1)

,state,2017_participation,2017_composite,2018_participation,2018_composite,2019_participation,2019_composite
0,Alabama,5%,1165,6%,1166,7%,1143

In [116]:
df_sat['2017_participation'] = df_sat['2017_participation'].apply(clean_data)
df_sat['2018_participation'] = df_sat['2018_participation'].apply(clean_data)
df_sat['2019_participation'] = df_sat['2019_participation'].apply(clean_data)

In [118]:
df_sat.to_csv('2017_18_19_sat.csv', index = False)

In [119]:
df_sat

,state,2017_participation,2017_composite,2018_participation,2018_composite,2019_participation,2019_composite
0,Alabama,0.05,1165,0.06,1166,0.07,1143
1,Alaska,0.38,1080,0.43,1106,0.41,1097
2,Arizona,0.30,1116,0.29,1149,0.31,1134
3,Arkansas,0.03,1208,0.05,1169,0.06,1141
4,California,0.53,1055,0.60,1076,0.63,1065
5,Colorado,0.11,1201,1.00,1025,1.00,1024
6,Connecticut,1.00,1041,1.00,1053,1.00,1046
7,Delaware,1.00,996,1.00,998,1.00,985
8,District of Columbia,1.00,950,0.92,977,0.94,975
9,Florida,0.83,1017,0.56,1099,1.00,999
10,Georgia,0.61,1050,0.70,1064,0.71,1058
11,Hawaii,0.55,1085,0.56,1010,0.54,1100
12,Idaho,0.93,1005,1.00,1001,1.00,993
13,Illinois,0.09,1115,0.99,1019,1.00,1013
14,Indiana,0.63,1074,0.63,1074,0.66,1080
15,Iowa,0.02,1275,0.03,1265,0.03,1244
16,Kansas,0.04,1260,0.04,1265,0.04,1241
17,Kentucky,0.04,1247,0.04,1248,0.04,1232
18,Louisiana,0.04,1198,0.04,1210,0.05,1200
19,Maine,0.95,1012,0.99,1013,0.99,1013
20,Maryland,0.69,1060,0.76,1080,0.82,1058
21,Massachusetts,0.76,1107,0.80,1125,0.81,1120
22,Michigan,1.00,1005,1.00,1011,1.00,1003
23,Minnesota,0.03,1295,0.04,1298,0.04,1284
24,Mississippi,0.02,1242,0.03,1236,0.03,1237
25,Missouri,0.03,1271,0.04,1262,0.04,1236
26,Montana,0.10,1196,0.10,1198,0.09,1199
27,Nebraska,0.03,1253,0.03,1252,0.03,1260
28,Nevada,0.26,1116,0.23,1140,0.20,1156
29,New Hampshire,0.96,1052,0.96,1063,0.95,1059
30,New Jersey,0.70,1056,0.82,1094,0.82,1090
31,New Mexico,0.11,1138,0.16,1093,0.18,1073
32,New York,0.67,1052,0.79,1068,0.79,1064
33,North Carolina,0.49,1081,0.52,1098,0.51,1100
34,North Dakota,0.02,1256,0.02,1283,0.02,1263
35,Ohio,0.12,1149,0.08,1062,0.19,1097
36,Oklahoma,0.07,1047,0.18,1099,0.22,963
37,Oregon,0.43,1108,0.48,1117,0.51,1112
38,Pennsylvania,0.65,1071,0.70,1086,0.70,1082
39,Rhode Island,0.71,1062,0.97,1018,1.00,995
40,South Carolina,0.50,1064,0.55,1070,0.68,1030
41,South Dakota,0.03,1216,0.03,1240,0.03,1268
42,Tennessee,0.05,1228,0.06,1231,0.07,1220
43,Texas,0.62,1020,0.66,1032,0.68,1022
44,Utah,0.03,1238,0.04,1010,0.04,1230
45,Vermont,0.60,1114,0.64,1120,0.66,1106
46,Virginia,0.65,1102,0.68,1117,0.68,1119
47,Washington,0.64,1075,0.69,1081,0.70,1074
48,West Virginia,0.14,1086,0.28,999,0.99,943
49,Wisconsin,0.03,1291,0.03,1294,0.03,1283
50,Wyoming,0.03,1230,0.03,1257,0.03,1238

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!